global-exclude *.py[cod]
include CHANGELOG.md
include README.md
include LICENSE
include requirements.txt
include src/querycommander/static/*.*
include src/querycommander/.htaccess
include src/querycommander/connectors/extra_sql/*.*
include src/querycommander/connectors/extra_sql/mysql/*.*
include src/querycommander/connectors/extra_sql/oracle/*.*
include src/querycommander/connectors/extra_sql/postgres/*.*
include src/querycommander/connectors/extra_sql/redshift/*.*
include src/querycommander/connectors/extra_sql/trino/*.*
include src/querycommander/VERSION